
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  
*{
    margin: 0;
    padding: 0;
}
.header{
    position: relative;
    background-image:url(../img/homework-08light-phone.png);
    background-repeat: no-repeat;
    background-size: cover;
   width: 100%;
   height:auto;
}
.header::after{
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgba(26, 25, 21,.2);
    z-index: 1;
}
.header-div-for-header-subjects{
    width: 280px;
    height: auto;
    padding: 20px 0px 140px 0px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.header-div{
    display: flex;
    justify-content: center;
}
.header-div-first-button , .header-div-second-button{
    width: 90px;
    height: 36px;
    margin-bottom: 114px;
    border-radius: 18px;
    border: 2px solid rgba(26,25,21,0); 
    background-color: rgba(26,25,21,0);
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
}
.header-div-first-button:hover , .header-div-second-button:hover{
    transition: 200ms;
    border: 2px solid #ffffff; 
}
.heder-for-position-elements{
    display: flex;
    flex-wrap: wrap;
}
.header-h2{
    text-align: center;
    margin-bottom: 34px;
}
.header-h2-logo-link{
    font-size: 14px;
color: #ffffff;
font-family: "Montserrat";
font-weight: 700;
text-align: center;
text-decoration: none;
}
.header-h3 , .header-h3-span {
    font-size: 30px;
color: #ffffff;
font-family: "Montserrat";
font-weight: 700;
text-align: center;
text-transform: uppercase;
}
.header-h3-span{
    display: block;
    margin: 0 auto;
}
.header-h3{
    margin-bottom: 16px;
}
.header-p{
    display: block;
    width: 230px;
    margin: 0px  auto 16px auto;
    font-size: 18px;
color: #ffffff;
font-family: "Roboto";
font-weight: 300;
text-align: center;
}
.header-button{
    display: block;
    margin: 0 auto;
    width: 280px;
height: 40px;
border-radius: 20px;
background-color: #ff4e50;
font-size: 14px;
color: #ffffff;
font-family: "Montserrat";
font-weight: 700;
text-align: center;
}
.section{
    width: 270px;
    height: auto;
    margin: 0 auto;
    padding: 70px 25px 56px 25px;
}
.section-ul{
    width: 100%;
    list-style-type: none;
}
.section-ul-li{
    width: 220px;
    margin: 0 auto;

}
.section-ul-li-div-for-img{
    position: relative;
    width: 120px;
    height: auto;
    margin: 0px auto 20px auto;
}
.section-ul-li-div-for-img::before{
    position: absolute;
    content: "";
    display: block;
    background-position: center;
    background-repeat: no-repeat;
width: 32px;
height: 32px;
right: 0;
bottom: 0;
border-radius: 50%;
border: 4px solid #ffffff;
}
.section-ul-li-div-for-img-first::before{
    background-image: url(../img/homework-08tv.png);
    background-color: #ff4e50;
}
.section-ul-li-div-for-img-second::before{
    background-image: url(../img/homework-08lock.png);
    background-color: #ffa507;
}
.section-ul-li-div-for-img-third::before{
    background-image: url(../img/homework-08coffe.png);
    background-color: #1cd7ad;
}
.section-ul-li-div-for-img-fourth::before{
    background-image: url(../img/homework-08fly.png);
    background-color: #4e73db;
}
.section-h3{
    font-size: 22px;
color: #333333;
font-family: "Montserrat";
font-weight: 700;
text-align: center;
margin-bottom: 16px;
}
.section-ul-li-h4{
margin-bottom: 18px;
font-size: 14px;
color: #333333;
font-family: "Montserrat";
font-weight: 700;
text-align: center;
}
.section-ul-li-p{
    margin-bottom: 28px;
    font-size: 14px;
color: #666666;
font-family: "Roboto";
font-weight: 300;
text-align: center;
}
.section-button{
    display: block;
    margin: 0 auto;
    width: 192px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #ff4e50;
    font-size: 14px;
    color: #ff4e50;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
}
@media (min-width: 768px) {
    .header{
        background-image: url(../img/homework-08_Tablet.png)
    }
    .header-for-position-elements{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-bottom: 160px;
    }
    .header-div-for-header-subjects{
        padding: 50px 0px 234px 0px;
        width: 670px;
    }
    .header-div-first-button , .header-div-second-button , .header-h2{
        margin-bottom: 0px;
    }
    .header-h3{
        margin-bottom:40px;
    }
    .header-p{
        width: 420px;
        margin: 0px  auto 36px auto;
    }
    .section{
        width: 718px;
        padding: 74px 25px 40px 25px;
    }
    .section-ul{
        display: flex;
       flex-wrap: wrap;
    }
    .section-ul-li{
        margin-left: 134px;
        margin-right: 10px;
        margin-bottom: 60px;
    }
    .section-ul-li:nth-child(even){
        margin-right: 134px;
        margin-left: 0px;
    }
    .section-h3{
        margin-bottom: 36px;
    }
    .section-ul-li-fisrt{
        order: 0;
    }
    .section-ul-li-second{
        order: 1;
    }
    .section-ul-li-third{
        order: 2;
        margin-bottom: 40px;
    }
    .section-ul-li-fourth{
        order: 3;
        margin-bottom: 40px;
    }
}
@media (min-width: 960px){
    .header{
        background-image:url(../img/homework-08light-desctop.png); 
    }
    .header-div-for-header-subjects{
        width: 940px;
    }
    .section{
        width: 910px;
        padding: 74px 25px 74px 25px;
    }
    .section-ul{
        justify-content: space-between;
    }
    .section-ul-li{
        margin-bottom: 40px;
        margin: 0;
       
    }
    .section-ul-li:nth-child(even){
        margin-right: 0px;
        margin-left: 0px;
    }
}